.container{
    display: flex;
    padding: 10px 0 0 10px;
    flex-wrap: wrap;
}

#card{
    margin: 0 10px 10px 0;
}

#button{
    margin: 0 10px 10px 0;
}

.empty-container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(184, 184, 184);
}

#buttonAdd{
    display: flex;
    justify-content: flex-end;
}

#content{
    transition: all 0.2s;
}

#buttonAddidProduct{
    width: 300px;
}

#buttonAddText{
    display: flex;
    justify-content: space-between;
}

.buttonPersonalized:hover{
    border: 1px solid #52c41a;
    color: #52c41a;
}